<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Personnel Control System</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="Department/Index">Departments</a></li>
            <li><a href="Personnel/Index">Personnel</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="Security/Login"><span class="glyphicon glyphicon-user"></span>Logout</a></li>

        </ul>
    </div>
</nav>

